extends layout

block content
  h1 Index Page
  header
    a(href='/login' class='text-red-600') Log in
    a(href='/signup' class='text-blue-900') Sign up
    a(href='/logout' class='text-purple-700') Log out
  main
    if messages
      ul
        each message in messages
          li #{message.text}, #{message.date}, #{message.user.fakeUsername}
    
