extends layout

block content
  h1 Index Page
  header
    if user 
        a(href='/logout' class='text-purple-700') Log out
        if !user.isMember
          a(href='/membership' class='text-green-700') Become a member
    else
      a(href='/login' class='text-red-600') Log in
      a(href='/signup' class='text-blue-900') Sign up
  main
    - var isMember = user && user.isMember
    if isMember
      div
        h1 Create new message
        form(method='POST' action='')
          label(for='message') Message:
          textarea(name='message' id='message' minlength='1' maxlength='50' required)
          button(type='submit') Send 
    if messages
      ul
        each message in messages
          li
            div
              p #{isMember? message.user.username : message.user.fakeUsername}
              p #{isMember? message.dateFormatted : 'hidden date'}
              p #{message.text}
    
