doctype html
html(class='scroll-smooth')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Weebs Only
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
  body(class='font-PT bg-[#F7F6F5] flex flex-col items-center')
    header(class='flex justify-around items-center z-10 bg-[#543550] w-full pt-3 pb-3 mb-2 sticky top-0')
      a(href='/')
        h1(class='text-xl text-[#F7F6F5] font-bold sm:text-3xl') Weebs 
          span(class='capitalize') only
      nav
        ul(class='flex gap-2 text-sm sm:text-base sm:gap-4')
          if user 
            if !user.isMember
              li
                 a(href='/membership' class='font-bold p-2 rounded bg-[#F7F6F5] text-[#543550]' ) Membership 
            li
              a(href='/logout' class='font-bold p-2 rounded bg-[#6D4266] text-[#F7F6F5] border-[#F7F6F5] border' ) Log out
          else
            li
              a(href='/signup' class='font-bold p-2 rounded bg-[#F7F6F5] text-[#543550] ' ) Sign up
            li
              a(href='/login' class='font-bold p-2 rounded bg-[#6D4266] text-[#F7F6F5]  border-[#F7F6F5] border ' ) Log in
    main(class='pl-2 pr-2 sm:p-5 w-full max-w-3xl pb-5')
      block content
