doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Weebs Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Weebs only
      nav
        ul
          if user 
              li
                a(href='/logout' class='text-purple-700') Log out
              if !user.isMember
                li
                  a(href='/membership' class='text-green-700') Become a member
          else
            li
              a(href='/login' class='text-red-600') Log in
            li
              a(href='/signup' class='text-blue-900') Sign up
    block content
